/TestCalculator.class
/TestHelper.class
/TestScoreSheet.class
/testCPU.class
/testDiceSet.class
/testEasyMode.class
/testGameManager.class
/testHardMode.class
/testPlayer.class
/TestCPU.class
/TestDiceSet.class
/TestEasyMode.class
/TestGameManager.class
/TestHardMode.class
/TestPlayer.class
